name: Android CI/CD Manual

on:
  workflow_dispatch:
    inputs:
      build_type:
        description: 'Tipe Build'
        required: true
        default: 'debug'
        type: choice
        options:
        - debug
        - release

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17 # Diubah dari 11 ke 17
        uses: actions/setup-java@v4
        with:
          java-version: '17' # Runner Gradle butuh minimal 17
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant Execute Permission for Gradlew
        run: chmod +x gradlew

      - name: Run Unit Tests
        run: ./gradlew testDebugUnitTest

      - name: Build APK
        run: |
          if [ "${{ github.event.inputs.build_type }}" == "debug" ]; then
            ./gradlew assembleDebug
          else
            ./gradlew assembleRelease
          fi

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MyNotes-${{ github.event.inputs.build_type }}
          path: app/build/outputs/apk/${{ github.event.inputs.build_type }}/*.apk
